@import url("photographer.css");

/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* ROOT STYLES */

:root {
  --primary-color: #901c1c;
  --secondary-color: #d3573c;
}

/* GENERAL */

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-top: 20px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-block: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img,
.photograph-header img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.photographer_section article .thumbnail-city {
  color: var(--primary-color);
}

.photographer_section article .thumbnail-tagline {
  font-size: 13px;
}

.photographer_section article .thumbnail-price {
  margin-top: 4px;
  font-size: 13px;
  color: #757575;
}

/* profile component */

.profile-name {
  color: var(--secondary-color);
  font-size: 64px;
  margin-right: 0px;
}

.profile-city {
  color: var(--primary-color);
  font-size: 24px;
}

.profile-tagline {
  font-size: 18px;
  margin-top: 10px;
  color: #757575;
}

/* Dropdown component */

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown {
  position: relative;
  width: 200px;
}

.dropdown-header,
.dropdown-options div {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

/* gallery */

.gallery {
  margin-block: 20px;
  margin-inline: 100px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
  margin-top: 30px;
}

.gallery-item {
  height: 350px;
  width: 350px;
}
.gallery-item img,
.gallery-item video {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.gallery-media-container {
  height: 100%;
}

.gallery-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 20px;
}

.play-btn-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.play-btn {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* TOTAL LIKES */

.total-likes-container {
  position: fixed;
  bottom: 0;
  right: 36px;
  height: 65px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  z-index: 10;
  background-color: #db8876;
  color: black;
  font-size: 24px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.total-likes-icon {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  height: 20px;
  width: 20px;
}
.likes {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* LIGHTBOX */

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

.lightbox img {
  cursor: default !important;
}

.lightbox-close {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 94%;
  top: 6%;
  z-index: 10;
  text-decoration: none;
  cursor: pointer;
}

.lightbox-media-container {
  display: flex;
  position: relative;
}

.lightbox-media-name-container {
  width: 1253px;
  height: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-media {
  display: flex;
}

.lightbox-media-name {
  position: absolute;
  top: 96%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
}

.lightbox-media video,
.lightbox-media img {
  width: 1050px;
  height: 900px;
  border-radius: 5px;
  object-fit: cover;
  transition: opacity ease-in-out 0.6s;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  width: 30px;
  height: 48px;
  cursor: pointer;
  z-index: 10;
}

.lightbox-prev {
  left: 3%;
  top: 50%;
}
.lightbox-next {
  right: 3%;
  top: 50%;
}
